body nav ul {
	list-style-type: none;
}
	
	body nav ul a {
		text-decoration: none;
		color: black;
	}

	body nav ul li:hover > a {
		text-decoration: underline;
	}

body nav .main_menu li:hover > .sub_menu {
	display: block;
}

body nav .main_menu .sub_menu {
	display: none;
}

body nav .sub_menu a {
	color: gray;
}